<footer>
    <div class="p-10 bg-gray-800 text-gray-200 mx-3">
      <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
           <div class="mb-5">
            <h2 class="font-weight-bold pb-3 text-2xl">Popular Genres</h2>
            <p class="pb-3"><i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Nepali</a></p>
            <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Fiction </a></p>
            <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Self Help </a></p>
            <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Business </a></p>
            <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Romantic </a></p>
            
            
          </div>
          <div class="mb-5">
            <h2 class="font-weight-bold pb-3 text-2xl">Menu</h2>
            
              <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Home </a></p>
              <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="{% url 'about' %}" class="hover:text-yellow-500">About Us</a></p>
              <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Services</a></p>
              <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="{% url 'terms' %}" class="hover:text-yellow-500">Terms of Services</a></p>
              <p class="pb-3"><i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500">Privacy Policy </a></p>
            
          </div>
          <div class="mb-5">
          
  
           <h2 class="font-weight-bold pb-4 text-2xl">Support</h2>
             <p>Phone: 01- 4801970 </p>
            <p>Mobile: +97798149801879 </p> 
            <strong>Email:</strong> <br>
             <p> <u> Bibliomania04@gmail.com</u></p>
          </div>
         
             
              <div class="mb-5">
            <h2 class="text-2xl pb-4 font-weight-bold">Physical Store</h2>
            <p class="mt-1">Damak-09, Campusmode</p>
           <p> Near to DMC college </p>
           <p>Jhapa</p>
            
          </div>
             
        </div>

      </div>
    </div>
  </footer>