<div class="lg:w-3/5 w-full bg-gradient-to-r from-black to-purple-900 lg:from-black lg:via-purple-900 lg:to-transparent text-gray-100 rounded-lg p-1">
    <div class="lg:w-1/2">
       <h3 class="text-2xl font-extrabold mt-6 mx-2">Subscribe to our Newsletter</h3>
       <p class="mt-3 leading-relaxed mx-2">Submit your email address to receive offers and updates from Bibliomania

       </p>
       <div>
        <input type="email" placeholder="Enter email address" class="bg-gray-600 text-gray-200 placeholder-gray-400 px-3 mx-3 mt-4 w-75 rounded-lg focus:outline-none">
        <button type="submit" class="bg-red-600 py-3 mt-3 mx-3 rounded-lg w-75">Subscribe </button>
       </div>
    </div>

  </div>
  <div class="lg:w-2/5 w-full lg:flex lg:flex-row hidden lg:mr-12">
    <img src="/static/photos/news.png" class="h-96 bg-white" alt="">

  </div>