<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bibliomania Pustakalaya</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body class="bg-white-300">
    <div class="mx-14">
        <div>

    <h1 class="text-4xl font-weight-bolder ml-12 mt-5"> Your favorite online bookstore!</h1>
    <p class="ml-12 mt-4 text-lg"> At Pustakalaya, we embody everything you love about books. Our mission is to share the power of books and we connect books with people by making discovering and buying books easy, entertaining, informative, and socially engaging. Discover new books, browse and buy books online at the lowest everyday prices.></p>
</div>
    <div>
        <h2 class="text-3xl font-weight-bolder ml-14  mt-5">Our Services</h2>
        <h2 class="text-3xl font-weight-bolder ml-14 mt-5">Buy Books Online</h2>

        <p class="ml-14 mt-3 text-lg">Easily discover new reads and stock your shelves at the comforts of your home through our safe delivery system. </p>
            <p class="ml-14 mt-1 text-lg"> We deliver worldwide and to all districts in Nepal.</p>
        </div>
        <div>
            <h2 class="text-3xl font-weight-bolder ml-14 mt-5">Discover new books and people
            </h2>
            <p class="ml-14 mt-3 text-lg"> Follow us at our socials to find book recommendations, discussion and more. We also have a community on Discord </p>
            <p class="ml-14 mt-1 text-lg">where bibliophiles can come together to talk about and share some of their favorite things: books.</p>
        </div>
        <div>
            <h2 class="text-3xl font-weight-bolder ml-14 mt-5">Book Request</h2>
            <p class="ml-14 mt-3 text-lg">We also consider purchase requests for books that are not available with us. If any book you need is not in our</p>
                <p class="ml-14 mt-1 text-lg">collection, fill our book request form out and we’ll try our best to help you get it.</p>
        </div>
        <div>
            <h2 class="text-3xl font-weight-bolder ml-14 mt-5">Inspirational Content</h2>
            <p class="ml-14 mt-3 text-lg">We believe in co-creation and providing value to our customers so you will find more that just product promotions on our </p>
            <p class="ml-14 mt-1 text-lg">website and socials. Find beautiful stacks of books, well written blogs, inspirational quotes and take-away points.</p>
        </div>
        <div>
            <h2 class="text-3xl font-weight-bolder ml-14 mt-5">Deals and giveaways</h2>
            <p class="ml-14 mt-3 text-lg">Yes, it’s possible to win free stuff and gift cards at Bibliomania Pustakalaya. Find the best bargains through our deals and get </p>
            <p class="ml-14 mt-1 text-lg">connected to discover quizzes, giveaways, contests and more!</p>


        </body>
    </html>