<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       
    </style>
</head>
<body>
    <section id="box"  class="bg-gray-50 min-h-screen flex items-center justify-center">
<div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-2xl p-2 items-center">
<div class="mt-1">
    <h3 class="font-bold text-3xl mt-2">Enter Your Email To Get The Reset Link</h3>
    <form action="" id="form" class="flex flex-col gap-4">
        <input type="email"  class="p-2 mt-3 rounded-xl border" name="Email" placeholder="Email Address">
            
        <button class="bg-primary rounded-xl text-white  py-2w-full font-weight-bolder  hover:scale-105 duration-300">SEND RESET LINK</button>
    </form>
    
    
</div>

</div>
    </section>


    </body>
    </html>