<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bibliomania Pustakalaya</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body class="bg-gray-200">
    <div class="mx-12">
        <div>

    <h1 class="text-4xl font-weight-bolder ml-12 mt-5">Website Terms and Conditions of Use</h1>
    <p class="ml-12 mt-3 text-lg">By using this website or ordering any items from Bibliomania ("bibliomania.com"), you acknowledge that you have read and understand these terms and conditions of use ("Terms of Use") and agree to be bound by them, to the extent permitted by applicable law. Bibliomania retains the right to change or modify these Terms of Use from at its discretion. Please review these Terms of Use to ensure your acceptance. If you do not agree to these Terms of Use, you are not authorized to use this website or to purchase any items from this website.</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">License</h2>
    <p class="ml-12 mt-3 text-lg">Your use of this website is under a limited license to access and make personal use of this website. This license does not include the right to download (except for page caching), modify, reproduce, or resell any part of the website's content; use any robot, spider, data miner, or other means to extract and gather data from the website; or otherwise use this website or any of its content in any manner other than the manner in which it is intended to be used, unless you first obtain Bibliomania’s express written consent.</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Termination of Usage</h2>
    <p class="ml-12 mt-3 text-lg">Bibliomania may issue a warning, temporarily suspend, indefinitely suspend, or terminate your right to use or access all or any part of this website, including any account hereon, without notice, for any reason in Bibliomania’s sole discretion, including, without limitation, violation of the Terms of Use or Bibliomania’s belief that such use or access would violate any applicable law or would be harmful to the interests of, or potentially cause financial loss or legal liability to, Bibliomania or another user.</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Pricing</h2>
    <p class="ml-12 mt-3 text-lg">The prices for items on this website are subject to change. It is possible for the price of an item to change between the time you add it to your shopping cart and the time you check out. Occasionally, an item may be mispriced on the website. In that case, the mispriced item would appear at the incorrect price even upon checkout. If the correct price of an item is higher than the price shown on the website or at checkout, Bibliomania may, in its sole discretion, do any one of the following: (1) contact you before shipping the item to notify you of the correct price and receive instructions from you as to whether you want to purchase the item at the correct price; (2) cancel the order and notify you of the cancellation; or (3) ship the item to you at the incorrect price. No contract will have been formed between you and Bibliomania until Bibliomania has charged your bank account, or processed another method of payment.
</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Product Images and Descriptions</h2>
    <p class="ml-12 mt-3 text-lg">Bibliomania attempts to make its product images and descriptions as accurate as possible. However, Bibliomania does not warrant that the image used for the product or descriptions or other content on this website are accurate, reliable, complete, or current. If a product advertised on the website does not match the actual product, Bibliomania may at it’s sole discertion, contact you before shipping the item to notify you of the differences and receive instructions from you as to whether you want to purchase the item or cancel the order. If you receive an item from Bibliomania that is not as it was advertised on the website, your sole remedy is to return it unused for a refund by notifying us within 2 business days of your receipt of the product.
</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Your Account</h2>
    <p class="ml-12 mt-3 text-lg">If you register an account with Books Mandala on this website, you are responsible for maintaining the confidentiality of your user name and password. You agree to accept full responsibility for all activities that take place under your account or password.
</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Privacy
</h2>
    <p class="ml-12 mt-3 text-lg">Please review Bibliomania’s privacy notice to develop an understanding of Bibliomania’s practices with respect to this important issue. Bibliomania's privacy notice is part of these Terms of Use and its provisions are incorporated herein by this reference. By using this site, you agree and consent to use of your information under these Terms of Use and Bibliomania’s privacy notice.
</p>
    </div>
    <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Trademarks
</h2>
    <p class="ml-12 mt-3 text-lg">Bibliomania, or third parties from whom Bibliomania has permission, own the trademarks or service marks that are used on this website. All rights are reserved. These and other graphics, logos, service marks, trademarks, and trade dress of Bibliomania may not be used without prior written consent of Bibliomania or its licensor, as the case may be. Without limiting the foregoing, no Bibliomania’s trademark or trade dress may be used in connection with any product or service that is not Bibliomania’s in any manner that is likely to cause confusion among users, or in any manner that disparages or discredits Bibliomania’s.
</p>
    </div>
     <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Copyright and Other Proprietary Rights
</h2>
    <p class="ml-12 mt-3 text-lg">All proprietary content and materials on this website, including, without limitation, this website's layout, organization, and design, are protected by copyrights, trademarks, service marks, patents, trade secrets, and other proprietary rights and laws. You agree to comply with all applicable laws by not copying or using proprietary content, except as allowed by these Terms of Use or by written consent of the owner of the proprietary rights.
</p>
    </div>
     <div>

    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Digital Millennium Copyright Act
</h2>
    <p class="ml-12 mt-3 text-lg">If you have reason to believe that material on this website infringes your copyright, please send a notice by mail or email to requesting that the infringing material be removed. The notice must contain the following information:</p>
     <ol type="1" class="ml-5">
        <li>1. A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright.</li>
        <li>2. A description of the work claimed to have been infringed, or a representative list of such works if the notice is intended to cover multiple works on the website.</li>
        <li>3. Identification of the allegedly infringing material and where the material is located on the website.</li>
        <li>4. Your contact information, including your name, address, telephone number, and email address.
            </li>
        <li>5. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
          </li>
        <li>6. A statement that the information in the notice is accurate and, under penalty of perjury, that you are authorized to act on behalf of the owner of the exclusive right that has allegedly been infringed.</li>
     </ol>

    </div>
    <div>

        <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Notices for copyright claims should be sent to:
    </h2>
        <p class="ml-12 mt-3 text-lg">Bibliomania Pustakalaya</p>
        <p class="ml-12  text-lg">Damak-09, Campusmode.</p>
        <p class="ml-12  text-lg">   contact@bibliomania.com
    </p>
        </div>
        <div>

            <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Third-Party Sites
        </h2>
            <p class="ml-12 mt-3 text-lg">This website may contain links to other unrelated websites on the Internet. Bibliomania Pustakalaya is not responsible for the content, accuracy, copyright compliance, decency standards, or other materials on such sites. Books Mandala makes no representations or warranties regarding the security of any information you make available to such websites. Bibliomania Pustakalaya is not liable for any loss or damages incurred as the result of your business dealings with such third parties.
        </p>
            </div>
            <div>

                <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Disclaimer of Warranties and Limitation of Liability
            </h2>
                <p class="ml-12 mt-3 text-lg">THIS WEBSITE AND ALL CONTENT AND SERVICES MADE AVAILABLE THROUGH THIS WEBSITE ARE PROVIDED BY BIBLIOMANIA PUSTAKALAYA ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED.</p>

                <p class="ml-12 mt-2 text-lg">   TO THE FULLEST EXTENT PERMITTED BY LAW AND SUBJECT TO THE PARAGRAPH BELOW, BIBLIOMANIA PUSTAKALAYA WILL NOT BE LIABLE FOR LOST PROFITS OR ANY DAMAGES, WHETHER DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL, RESULTING FROM YOUR USE OF THIS WEBSITE, ITS CONTENT, OR SERVICES. YOU ASSUME ALL RISKS ASSOCIATED WITH YOUR USE OF THIS WEBSITE, INCLUDING LOSS OF DATA, OR DAMAGE TO YOUR COMPUTER OR OTHER EQUIPMENT. BIBLIOMANIA PUSYAKALAYA DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR EMAIL SENT FROM THIS SITE ARE FREE FROM VIRUSES OR OTHER HARMFUL EFFECTS.</p>
                    
                <p class="ml-12 mt-2 text-lg">   NOTWITHSTANDING THE ABOVE, NOTHING IN THIS PROVISION SHALL BE UNDERSTOOD TO LIMIT BIBLIOMANIA PUSTAKALAYA’S LIABILITY FOR PERSONAL INJURY OR DEATH CAUSED BY BIBLIOMANIA’S OWN NEGLIGENCE OR FOR ANY DAMAGES CAUSED BY BIBLIOMANIA’S FAILURE TO ADHERE TO COMMERCIALLY REASONABLE MEASURES TO PROTECT YOUR ONLINE SECURITY AND PERSONAL INFORMATION AS DESCRIBED IN OUR PRIVACY POLICY.</p>
            
                </div>
                <div>

                    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Indemnification
                </h2>
                    <p class="ml-12 mt-3 text-lg">You will indemnify and hold Bibliomania Pustakalaya harmless from any claim, demand, loss, liability, costs, or expenses (including reasonable attorney fees), arising out of your misuse of this website, your breach of these Terms of Use, or your violation of the law or any rights of a third party.

                </p>
                    </div>
                    <div>

                        <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Risk of Loss
                    </h2>
                        <p class="ml-12 mt-3 text-lg">The risk of loss and title for all items purchased from this website passes to you upon delivery of the item to the carrier.
                    </p>
                        </div>
                        <div>

                            <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Applicable Law
                        </h2>
                            <p class="ml-12 mt-3 text-lg">This website is maintained through Mandala Tech, located in Damak-09,Campusmode Accordingly, this agreement shall be deemed to have been made in the Nepal and shall be governed exclusively by the laws of the Government of Nepal without regard to any principles of conflicts of law.
                        </p>
                            </div>
                            <div>

                                <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Severability
                            </h2>
                                <p class="ml-12 mt-3 text-lg">If any provisions of these Terms of Use are deemed to be invalid or unenforceable for any reason, such offensive provisions shall be severed to the extent required to conform to applicable law, and the remaining portions of this agreement shall remain in full force and effect.
                            </p>
                                </div>
                                <div>

                                    <h2 class="text-2xl font-weight-bolder ml-12 mt-5">Notices
                                </h2>
                                    <p class="ml-12 mt-3 text-lg">You consent to receive electronic communications from us via email or posting on this website and acknowledge that such communications satisfy any legal requirement that the communications be made in writing.
                                </p>
                                    </div>
    </div>
</body>
</html>